{% extends "auctions/layout.html" %}

{% block body %}
    {% if category in categories %}
        <h2>{{ category }} Listings</h2>
    {% else %}
        <div class="alert alert-danger" role="alert">
            {{ category }} category does not exist
        </div>
    {% endif %}

    <!-- Specification 6 - Individual Category -->
    {% for listing in listings %}
        {% if category == listing.category and listing.active %}
            <hr>
            <div class="row align-items-center mb-4">
                <div class="col-md-4">
                    <img src="{{ listing.image }}" alt="No Image" width="250" class="img-fluid rounded">
                </div>
                <div>
                    <h4>
                        <a href="{% url 'listing' id=listing.id %}" class="text-decoration-none">
                            {{ listing.title }}
                        </a>
                    </h4>
                    <h6>Price: ${{ listing.price.amount }}</h6>
                    <p class="text-muted">
                        Created <b>{{ listing.created }}</b> by <b>{{ listing.lister }}</b>
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor%}

{% endblock %}