<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="../static/styles.css" />
    </head>
    <body id="container">
        <div class="links">
            <a class="link" href="image.html">Image Search</a>
            <a class="link" href="advanced.html">Advanced Search</a>
        </div>
        <img class="logo" src="../static/images/google.svg" alt="Google">
        <form class="search" action="https://www.google.com/search">
            <div class="bar">
                <img class="search-icon" src="../static/images/search.png" alt="Search">
                <input class="search-bar" type="text" name="q">
            </div>
            <div class="buttons">
                <input class="button" type="submit" value="Google Search">
                <input class="button" type="submit" name="btnI" value="I'm Feeling Lucky">
            </div>
        </form>
    </body>
</html>