{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ owner.username }}</h2>

    <div>
        <span><b>{{ owner.following.count }}</b> Following</span>
        <span><b>{{ owner.followers.count }}</b> Followers</span>
    </div>

    {% if user.is_authenticated and request.user != owner %}
        <div>
            <form action="{% url 'follow' id=owner.id %}" method="post">
                {% csrf_token %}
                {% if request.user not in owner.followers.all %}
                    <button class="btn btn-primary m-2">Follow</button>
                {% else %}
                    <button class="btn btn-outline-primary m-2">Unfollow</button>
                {% endif %}
            </form>
        </div>
    {% endif %}

    {% for post in posts %}
        <div class="border rounded mt-1">
            <div class="d-flex flex-column gap-2 p-3 align-items-start">
                <h5>
                    <a href="{% url 'profile' id=post.poster.id %}" class="text-dark text-decoration-none">
                        {{ post.poster.username }}
                    </a>
                </h5>
                <div data-id="post-{{ post.id }}-content">
                    {% if user == post.poster %}
                        <div>
                            <button type="button" class="btn btn-link p-0" data-class="edit-post" data-id="{{ post.id }}">
                                Edit
                            </button>
                        </div>
                    {% endif %}
                    <div data-id="post-{{ post.id }}-text">
                        {{ post.content }}
                    </div>
                </div>
                <span class="text-muted">{{ post.timestamp }}</span>
                <div>
                    {% if request.user not in post.likes.all %}
                        <i class="bi bi-heart text-danger" data-class="like-post" data-id="{{ post.id }}"></i>
                    {% else %}
                        <i class="bi bi-heart-fill text-danger" data-class="like-post" data-id="{{ post.id }}"></i>
                    {% endif %}
                    <span class="text-muted" data-id="post-{{ post.id }}-likes">{{ post.likes.count }}</span>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- Specification 5 - Pagination -->

    <nav>
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item">
                <a class="page-link" href="?page=1">
                    &laquo;
                </a>
            </li>
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.previous_page_number }}">
                        {{ posts.previous_page_number }}
                    </a>
                </li>
            {% endif %}
            <li class="page-item active" >
                <a class="page-link" href="">
                    {{ posts.number }}
                </a>
            </li>
            {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.next_page_number }}">
                        {{ posts.next_page_number }}
                    </a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.paginator.num_pages }}">
                    &raquo;
                </a>
            </li>
        </ul>
    </nav>
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}